.slider-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-image {
  width: 100%;
  height: 450px;
  object-fit: initial;
}

.mySlider {
  width: 100%;
}

.photo-gallery-container {
  padding: 20px;
}

@media (max-width: 480px) {
  .slider-image {
    width: 100%;
    height: 150px;
    object-fit: initial;
  }
  .mySlider {
    width: 100%;
  }
}
